<h1>Home!</h1>
{{#if user}}
<span class="success">Currently logged in as: {{user.username}}</span>
{{else}}
<span class="error">Not logged in</span>. <a href="register">Register</a> or <a href="login">login</a>.


{{/if}}
