<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
</head>
<body>
<style>
body {
	height: 100vh;
	font-family: Garamond, sans-serif;
	font-size: 1em;
	background-color: #222;
	display: flex;
	justify-content: center;
	align-items: center;
}
#outer {
	width: 300px;
	padding: 0em 2em 1em 2em;
	background-color: #fff;
}
.note {
	color:#888; 
	padding-top: 1em;
}
.error {
	background-color: #eecccc;
	padding: 0.25em;
}
.success {
	background-color: #cceecc;
	padding: 0.25em;
}
form div {
	padding-bottom: 0.5em;
}
</style>

<div id="outer">
{{{ body }}}

{{#if home}}
{{else}}
<div class="note">Want go <a href="/">back home</a>?</div>
{{/if}}
</div>

</body>
</html>