<h1>Login</h1>
<form method="POST" action="login">
	<div>Username: <input type="text" name="username" value=""></div>
	<div>Password: <input type="password" name="password" value=""></div>
	<div><input type="submit" value="login"></div>
</form>