<h1>Register</h1>
<form method="POST" action="register">
	<div>Username: <input type="text" name="username" value=""></div>
	<div>Password: <input type="password" name="password" value=""></div>
	<div><input type="submit" value="register"></div>
</form>