#root {
    width: 90vw;
    padding: 0px 5vw;
    --blue: rgb(26, 57, 87);
    --white: rgb(236, 236, 236);
}
/*----------Toggle dark/light STYLINGS----------*/
body {
    font-family: "Ubuntu", sans-serif;
    background: var(--background-color);
    color: var(--text-color);
    font-weight: var(--font-weight);
    transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
  }
  
  body.light {
    --background-color: var(--white);
    --text-color: var(--blue);
    --font-weight: 400;
  }
  
  body.dark {
    --background-color: var(--blue);
    --text-color: var(--white);
    --font-weight: 500;
  }
/*------------------------------------*/

.p {
    color: rgb(0, 0, 0);
    margin: 5px;
}

.go {
    text-decoration: none;
    width: 50px;
    border: 1px solid rgb(238, 124, 31);
    padding: 1px;
    margin: 1px;
    color: rgb(0, 0, 0);
    background-color: orange;
    font-size: 1.5em;
}

div {
    list-style-type: circle;
    /*
	border: 0.5px solid rgb(255, 255, 255);
	*/
    background-color: rgb(255, 255, 255);
}

.prompt{
    font-size: 40px;
	position: relative;
	left: 125px;
}


.relative-pos {
    position: relative;
}

.absolute-pos-bar {
    height: 0.1px;
}

.slide-left {
    position: absolute;
    left: 0px;
}

.slide-right {
    position: absolute;
    right: 0px;
}

.button {
    position: absolute;
    /*left: 100px;*/
    background-color: black;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    outline: 0;
    box-shadow: 0px 2px 2px lightgrey;
}

.boxify {
    padding: 1.5em;
    margin: 1em 0em;
    border: 1px black dashed;
    border-radius: 2em;
    background-color: lightgray;
}

.restaurant-card {
    display: flex;
    background-color: inherit;
}

    .restaurant-card > img {
        width: 100px;
        height: 100px;
    }

    .restaurant-card > div {
        background-color: inherit;
    }

        .restaurant-card > div > p:nth-of-type(1) {
            display: inline;
            font-size: 2em;
            font-style: italic;
        }

        .restaurant-card > div > p:nth-of-type(3) {
            font-size: 1.15em;
        }

        .restaurant-card > div > .go {
            margin-left: 1em;
            display: inline;
        }

.menu-item-card {
    background-color: inherit;
    display: flex;
}

    .menu-item-card > img {
        width: 100px;
        height: 100px;
    }

    .menu-item-card > div {
        background-color: inherit;
    }

        .menu-item-card > div > p:nth-of-type(1) {
            display: inline;
            font-size: 2em;
            font-style: italic;
        }

        .menu-item-card > div > p:nth-of-type(2) {
            display: inline;
            font-size: 1.15em;
        }

        .menu-item-card > div > .go {
            margin-left: 1em;
            display: inline;
        }

.delivery-app-card {
    background-color: inherit;
    display: flex;
}

    .delivery-app-card > img {
        width: 100px;
        height: 100px;
    }

    .delivery-app-card > div {
        background-color: inherit;
    }

        .delivery-app-card > div > p:nth-of-type(1) {
            font-size: 1.3em;
            display: inline;
        }

        .delivery-app-card > div > p:nth-of-type(2) {
            font-size: 1.06em;
        }

        .delivery-app-card > div > .go {
            margin-left: 1em;
            display: inline;
        }

.proxy-select {
    display: none;
}

    .proxy-select:checked + .proxy-item {
        background-color: #c3c3c3;
        box-shadow: 4px 4px lightgray;
    }

.flex-divider {
    flex-grow: 1;
}

.header {
    padding: 3em;
}

/*----------SIDEBAR STYLINGS----------*/
.navbar {
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: white;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 2;
}

    .nav-menu.active {
        left: 0;
        transition: 350ms;
    }

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

    .nav-text a {
        text-decoration: none;
        color: black;
        font-size: 21px;
        width: 95%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 16px;
        border-radius: 4px;
    }

        .nav-text a:hover {
            background-color: orange;
        }

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebarOverlay{
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0;
    background-color: black;
    left: 0;
    z-index: -1;
}
    .sidebarOverlay.active {

        opacity: .6;
        transition: 350ms;
        z-index: 1;
    }


span {
    margin-left: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.RestaurantList,
.MenuItemListScreen,
.products,
.UserProfile {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
/*------------------------------------*/

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.divcenter {
        margin: auto;
        padding: 20px;
        width: 100%;
}

    .divcenter > p {
        padding: 10px;
    }

    .divcenter > h2 {
        padding: 20px;
        text-align: center;
    }


    
/*----------Toggle dark/light STYLINGS----------*/
#darkMode {
    background: transparent url("./moon.png") no-repeat center;
    background-size: 30px 30px;
    width: 45px;
    height: 45px;
    filter: grayscale(100%);
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
    }
    
    #darkMode:hover,
    #darkMode:focus {
    filter: none;
    background-color: black;
    cursor: pointer;
    }
    
    #darkMode.clicked {
    filter: none !important;
    background-color: black;
    }
  
/*------------------------------------*/