
.sign-in-page-title {
    padding: 20px;
    font-size: 28px;
    color: darkblue;
}

.username-box {
    padding: 5px;
}

.username-box-outside-border {
    padding: 5px;
}

.password-box {
    padding: 5px;
}

.password-box-outside-border {
    padding: 5px;
}

.login-button {
    color: lightblue;
    background-color: darkblue;
    width: 80px;
}

.login-button-outside-border {
    padding: 5px;
}