.sign-up-page-title {
    padding: 20px;
    font-size: 28px;
    color: orange;
}

.username-box {
    padding: 5px;
}

.username-box-outside-border {
    padding: 5px;
}

.password-box {
    padding: 5px;
}

.password-box-outside-border {
    padding: 5px;
}

.signup-button {
    color: rgb(0, 0, 0);
    background-color: rgb(165, 165, 165);
    width: 80px;
}

.signup-button-outside-border {
    padding: 5px;
}